@tailwind base;
@tailwind components;
@tailwind utilities;

/* header */
body {
    background-color: #17152a;
}
.header-nav {
    display: flex;
    flex-direction: row;
} 

.header-nav__ul {
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
}

.nav-side-left {
    
}

.nav-side-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-side-right__li {
    list-style: none;
    margin-right: 20px;
}
.nav-side-right__li a {
    text-decoration: none;
    color: white;

}
.home-main {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.home-main__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.home-main__left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
.home-man-pg {
    color: white;
    font-size: 3.25rem;
    text-align: center;
}

.home-main__circle {
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 500px;
    height: 500px;
    background: linear-gradient(180deg, #8739E9 3%, #983DF1 53.31%, #AF49F3 101.24%);
    border-radius: 50%;
}


.home-img {
    width: 400px;
    height: 400px;
}

.desktop-1-child {
    position: absolute;
    top: 11.31rem;
    left: 50.5rem;
    width: 46.56rem;
    height: 44.81rem;
}
.d-fluency-game-controller-1-icon {
    position: absolute;
    top: 17.44rem;
    left: 54.13rem;
    width: 39.31rem;
    height: 32.56rem;
    object-fit: cover;
}
.explorar {
    position: absolute;
    top: -46.67%;
    left: -1.15%;
}
.button-inf {
    position: absolute;
    top: 2.94rem;
    left: 46.76rem;
    width: 5.44rem;
    height: 0.94rem;
    transform: rotate(0.43deg);
    transform-origin: 0 0;
}
.ayuda {
    position: absolute;
    width: 39.08%;
    top: -112.04%;
    left: 29.89%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-inf1 {
    position: absolute;
    top: 3.19rem;
    left: 74.38rem;
    width: 11.5rem;
    height: 0.56rem;
    transform: rotate(0.43deg);
    transform-origin: 0 0;
}
.comunidad {
    position: absolute;
    top: -46.67%;
    left: -19.54%;
}
.button-inf2 {
    position: absolute;
    top: 3.06rem;
    left: 68.38rem;
    width: 5.44rem;
    height: 0.94rem;
    transform: rotate(0.43deg);
    transform-origin: 0 0;
}
.quienes-somos {
    position: absolute;
    top: -46.67%;
    left: -3.85%;
}
.button-inf3 {
    position: absolute;
    top: 3rem;
    left: 55.57rem;
    width: 9.42rem;
    height: 0.94rem;
    transform: rotate(0.43deg);
    transform-origin: 0 0;
}
.button-func-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
}
.login {
    position: absolute;
    height: 21.74%;
    width: 40.16%;
    top: 39.13%;
    left: 36.48%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-func {
   
    border-radius: 10px;
    background: linear-gradient(90deg, #7e37e5, #983df1 46.37%, #b24af3 93.62%);
    border: 1px solid var(--color-blueviolet);
    box-sizing: border-box;
    width: 11.13rem;
    height: 3.13rem;
    overflow: hidden;
    color: white;
}
.encuentra-a-tus {
    position: absolute;
    top: 19.75rem;
    left: 5.75rem;
    font-size: 5.25rem;
    letter-spacing: 0.05em;
    line-height: 129.52%;
    text-align: left;
    display: inline-block;
    width: 43.31rem;
    height: 20.63rem;
}
.sign-up {
    position: absolute;
    height: 23.19%;
    width: 40.16%;
    top: 37.68%;
    left: 29.92%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-func1 {
    top: 41.88rem;
    left: 11.81rem;
    border-radius: 30px;
    background: linear-gradient(90deg, #7e37e5, #983df1 46.37%, #b24af3 93.62%);
    border: 1px solid var(--color-blueviolet);
    box-sizing: border-box;
    width: 24rem;
    height: 3.81rem;
    overflow: hidden;
}
.button-func1,
.iconst,
.logo {
    position: absolute;
}
.iconst {
    top: 3.13rem;
    left: 85.88rem;
    width: 1.75rem;
    height: 1.63rem;
    overflow: hidden;
}
.logo {
    top: 2.88rem;
    left: 5.13rem;
    font-size: 2rem;
}
.desktop-1 {
    position: relative;
    background-color: #17152a;
    width: 100%;
    height: 64rem;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-lato);
}
.form-games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-title {
    color: white;
    text-align: center;
    margin-top: 20px;
}
.form-input__search {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}
.form-input__search input {

}

.container-games {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    place-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

.card-game {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

.card-game img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.card-game label {
    color: white;
}
.form-games button {
    background: linear-gradient(90deg, #7e37e5, #983df1 46.37%, #b24af3 93.62%);
    border: 1px solid var(--color-blueviolet);
    box-sizing: border-box;
    width: 11.13rem;
    height: 3.13rem;
    color: white;
    border-radius: 10px;

}
.hide {
    display: none;
}
.selected {
    background-color: #b24af3;
}