.feed{
    flex:6;
    height: 100%;
    overflow-y: scroll;
}

.feedWrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

::-webkit-scrollbar {
    display: none;
    
}
